html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #000;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}