html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #000;
}

#overpass-api-controls {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.heading {
    text-align: center;
    background-color: lavender;
    height: 49px;
    box-shadow: 0 4px 2px -2px gray;
}

.heading h2 {
    display: inline;
}

.heading button {
    float: inline-end;
    margin-left: 5em;
    margin-bottom: 1em;
    padding: 0.6em;

    cursor: pointer;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: whitesmoke;
}

.heading button:hover,
.heading button:active {
    background-color: #27ae60;
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    height: 100%;
    width: 100%;
}